In [1]:
import pandas as pd

In [3]:
social_media_usage = pd.read_csv("social_media_usage.csv")

In [4]:
social_media_usage.columns

Index(['respid', 'sample', 'comp', 'int_date', 'lang', 'state', 'density',
       'usr', 'qs1', 'sex', 'eminuse', 'intmob', 'intfreq', 'snsint2',
       'home4nw', 'bbhome1', 'bbhome2', 'device1a', 'smart2', 'bbsmart2',
       'bbsmart3a', 'bbsmart3b', 'bbsmart3c', 'bbsmart3d', 'bbsmart3e',
       'bbsmart3f', 'bbsmart3f_1_other', 'bbsmart4', 'cable1', 'cable2',
       'cable3a', 'cable3b', 'cable3c', 'web1a', 'web1b', 'web1c', 'web1d',
       'web1e', 'web1f', 'web1g', 'web1h', 'web1i', 'web1j', 'web1k', 'sns2a',
       'sns2b', 'sns2c', 'sns2d', 'sns2e', 'paya', 'payb', 'payc', 'prob',
       'coviddisa', 'coviddisb', 'coviddisc', 'coviddisd', 'coviddise',
       'device1b', 'device1c', 'device1d', 'books1', 'books2a', 'books2b',
       'books2c', 'gender', 'age', 'marital', 'par', 'educ2', 'emplnw', 'disa',
       'hisp', 'racem1', 'racem2', 'racem3', 'racem4', 'racecmb', 'birth_hisp',
       'income', 'party', 'partyln', 'hh1', 'hh3', 'ql1', 'ql1a', 'qc1',
       'weight', 'cellweight'],
      dtype='object')

In [9]:
## target = web1h
target_column = "web1h"
feature_columns = ["income","educ2","par", "marital", "gender", "age"]

In [10]:
selected_df = social_media_usage[feature_columns + [target_column]]
selected_df

      income  educ2  par  marital  gender  age  web1h
0          6      4    2        5       2   77      2
1          5      3    2        6       1   59      2
2          8      4    2        1       2   60      2
3          8      8    2        6       1   73      2
4          7      8    2        1       2   65      1
...      ...    ...  ...      ...     ...  ...    ...
1497       6      4    1        1       1   41      2
1498       2      5    2        2       1   46      1
1499       7      3    2        6       1   18      2
1500       4      3    2        6       2   23      2
1501       4      3    1        1       1   50      2

[1502 rows x 7 columns]

In [11]:
selected_df.isna().sum()

income     0
educ2      0
par        0
marital    0
gender     0
age        0
web1h      0
dtype: int64

No null values so moving on

In [12]:
selected_df.dtypes

income     int64
educ2      int64
par        int64
marital    int64
gender     int64
age        int64
web1h      int64
dtype: object

Everything is integer already so moving on

In [14]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

X = selected_df[feature_columns]
Y = selected_df[target_column]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33)

In [15]:
scaler = MinMaxScaler()

scaler = scaler.fit(X_train)
X_train = scaler.transform(X_train)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, r2_score


lrm = LogisticRegression()
lrm = lrm.fit(X_train, y_train)

y_pred = lrm.predict(X_train)

print("Accuracy :", accuracy_score(y_train, y_pred))
print("R2 Score :", r2_score(y_train, y_pred))

Accuracy : 0.6739562624254473
R2 Score : -0.2790601390059346

In [18]:
from joblib import dump

dump(lrm, "trained_model.h5")

['trained_model.h5']

In [19]:
dump(scaler, "scaler.h5")

['scaler.h5']